body {
  margin: 0 auto;
  padding: 0;
  max-width: 1280px;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
.wrapper {
  max-width: 1240px;
  margin: 0 auto;
}
.user-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #f4f4f4;
  width: 100%;
}
@media only screen and (max-width: 620px) {
  .user-menu {
    justify-content: space-around;
  }
}
@media only screen and (max-width: 400px) {
  .user-menu {
    flex-direction: column;
  }
}
.controls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #666;
  font-family: "Roboto Thin";
  font-size: 14px;
}
.controls__item {
  padding: 13px 25px 13px 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.controls__item:not(:last-child) {
  padding-right: 0;
}
.controls__item:not(:last-child)::after {
  content: '';
  height: 14px;
  margin-left: 25px;
  border-right: 1px solid #cecece;
}
@media only screen and (max-width: 400px) {
  .controls__item:not(:last-child)::after {
    display: none;
  }
}
.controls__item:hover {
  background-color: #888;
  color: #fff;
}
.controls__item:hover .controls__icon {
  fill: #fff;
}
@media (max-width: 400px) {
  .controls__item {
    width: 100%;
  }
}
.controls__icon {
  max-width: 16px;
  max-height: 14px;
  fill: #666666;
}
@media only screen and (max-width: 400px) {
  .controls {
    flex-direction: column;
  }
}
.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 35px;
}
.social__item {
  padding: 10px 20px;
}
.social__item:hover {
  background-color: #888;
}
.social__item:hover .social__icon {
  fill: #fff;
}
.social__icon {
  max-width: 23px;
  max-height: 19px;
  fill: #666666;
}
.bot-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0 10px 0;
}
@media only screen and (max-width: 900px) {
  .bot-menu {
    justify-content: space-around;
  }
}
.logo {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
}
.logo__name {
  font-family: "Roboto Thin";
  font-size: 18px;
  align-self: center;
  max-width: 120px;
  padding-left: 20px;
}
.logo__icon {
  max-width: 70px;
  max-height: 100px;
  align-self: center;
}
.logo__icon_gold {
  fill: #f3c18d;
}
.logo__icon_white {
  fill: #fff;
}
.logo__slogan {
  font-family: "Myriad Pro";
  font-size: 14px;
  color: #666666;
}
@media only screen and (max-width: 900px) {
  .logo {
    width: 100%;
    justify-content: center;
  }
}
.search {
  flex-basis: 50%;
}
@media only screen and (max-width: 700px) {
  .search {
    flex-basis: 90%;
    margin: 10px 0;
  }
}
.contacts {
  display: flex;
  flex-wrap: wrap;
}
.contacts__item {
  font-family: "Roboto Thin";
  font-size: 16px;
}
.contacts__item:first-child {
  padding-right: 18px;
}
@media only screen and (max-width: 400px) {
  .contacts__item {
    margin: 5px 0;
  }
}
.contacts__icon {
  max-width: 18px;
  max-height: 14px;
  fill: #f3c18d;
}
@media only screen and (max-width: 400px) {
  .contacts {
    justify-content: center;
  }
}
.search-form {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  border: 1px solid #c3c3c3;
}
.search-form__input {
  border: none;
  flex-basis: 100%;
  font-family: "Roboto Thin";
  font-size: 16px;
  color: #cecece;
  padding-left: 20px;
}
.search-form__button {
  display: none;
}
.search-form label {
  max-width: 85px;
  max-height: 45px;
  min-width: 30px;
}
.search-form__icon {
  width: 100%;
  height: 100%;
  fill: #666666;
  background: #f4f4f4;
  cursor: pointer;
}
.search-form__icon:active {
  fill: #fff;
  background: #c3c3c3;
}
.basket {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  font-family: "Roboto Thin";
  border: 1px solid #c0c0c0;
  position: relative;
  max-width: 205px;
  max-height: 70px;
  padding: 20px;
}
.basket__price {
  font-size: 20px;
  flex-shrink: 0;
}
.basket__price::after {
  content: '';
  height: 30px;
  margin-left: 25px;
  border-right: 1px solid #cecece;
}
.basket__quantity {
  font-size: 16px;
  text-align: center;
  width: 20px;
  height: 20px;
  color: #fff;
  background: #000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: 15%;
  flex-basis: 0;
}
.basket__icon {
  fill: #f3c18d;
  max-width: 37px;
  max-height: 33px;
  padding-left: 25px;
}
.basket__icon:hover {
  fill: red;
}
.nav {
  font-family: Roboto;
  font-size: 18px;
  color: #ffffff;
  position: relative;
}
.nav-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background: #f3c18d;
  transition: all .5s;
  margin-top: 0;
}
.nav-menu__item {
  display: block;
  padding: 20px 70px 20px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.nav-menu__item::before {
  content: '';
  font-size: 18px;
  margin-right: 70px;
  border-left: 1px solid #fff;
}
.nav-menu__item:hover {
  -webkit-box-shadow: 0 0 15px 5px #fff inset;
  -moz-box-shadow: 0 0 15px 5px #fff inset;
  box-shadow: 0 0 15px 5px #fff inset;
}
.nav-menu__burger {
  display: none;
  padding: 20px 0;
  background: #f3c18d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 5px 5px #fff inset;
  -moz-box-shadow: 0 0 5px 5px #fff inset;
  box-shadow: 0 0 5px 1px #fff inset;
}
.nav-menu__burger:hover {
  -webkit-box-shadow: 0 0 15px 5px #fff inset;
  -moz-box-shadow: 0 0 15px 5px #fff inset;
  box-shadow: 0 0 15px 5px #fff inset;
}
@media only screen and (max-width: 1100px) {
  .nav-menu__burger {
    display: block;
    text-align: center;
  }
}
@media only screen and (max-width: 1100px) {
  .nav-menu {
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
  }
}
#nav-menu__toggle {
  display: none;
}
@media only screen and (max-width: 1100px) {
  #nav-menu__toggle:checked + .nav-menu {
    transition: all .5s;
    visibility: visible;
    opacity: 1;
  }
}
.content {
  display: flex;
  justify-content: space-between;
  margin: 25px auto;
}
.aside-menu {
  order: 1;
  max-width: 285px;
  flex-shrink: 0;
}
.categories {
  font-family: Verdana;
  background: #f4f4f4;
}
.categories__header {
  background: #4a4a4a;
  color: #ffffff;
  font-size: 20px;
  padding: 20px 35px;
}
.categories__item {
  font-size: 16px;
  color: #4a4a4a;
  padding: 15px 35px;
  display: block;
  border: 1px solid #cecece;
}
.categories__item:hover {
  color: #fff;
  background: #4a4a4a;
}
.categories__item:hover .categories__icon {
  fill: #fff;
}
.categories__icon {
  max-width: 18px;
  max-height: 18px;
  fill: #4a4a4a;
  padding-right: 18px;
  display: inline-block;
  vertical-align: middle;
}
.advertisement {
  max-width: 285px;
  max-height: 210px;
  display: block;
  overflow: hidden;
  margin: 24px 0;
}
.advertisement img {
  width: 100%;
  transition: all 1s;
}
.advertisement:hover img {
  transform: scale(1.1, 1.1);
}
.main {
  order: 2;
  flex-grow: 1;
  margin-left: 30px;
}
.news {
  display: flex;
  flex-wrap: wrap;
  font-family: Verdana;
  max-width: 920px;
  width: 100%;
  border: 1px solid #cecece;
}
.news__product {
  font-size: 40px;
  color: #666666;
  flex-basis: 60%;
  align-self: center;
}
.news__header {
  font-size: 18px;
  color: #f3c18d;
  display: block;
  text-transform: uppercase;
}
.news__content {
  font-size: 14px;
  display: block;
}
.news__img {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 250px;
  margin: 30px 50px;
}
.news__buy-btn {
  color: #ff966c;
  background: none;
  border: 1px solid #f3c18d;
  font-size: 20px;
  padding: 10px 15px;
}
.news__buy-btn:hover {
  background: #ff966c;
  color: #ffffff;
  cursor: pointer;
}
.services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: Verdana;
  margin: 25px 0;
}
.services__item {
  border: 1px solid #cecece;
  padding: 23px 0 23px 10px;
  flex-basis: 270px;
}
.services__item_gold {
  color: #f3c18d;
  fill: #f3c18d;
}
.services__item_orange {
  color: #ff824a;
  fill: #ff824a;
}
.services__item_blue {
  color: #37a49e;
  fill: #37a49e;
}
.services__header {
  font-size: 30px;
}
.services__text {
  font-size: 14px;
  color: #000;
}
.services__icon {
  max-width: 30px;
  max-height: 25px;
}
.products {
  font-family: Verdana;
}
.products__header {
  font-size: 22px;
  color: #666666;
  border-bottom: 1px solid #cecece;
  margin-bottom: 25px;
}
.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.product {
  border: 1px solid #cecece;
  max-width: 23%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  position: relative;
}
.product__img {
  max-width: 120px;
  max-height: 190px;
}
.product__name {
  display: block;
  font-size: 18px;
  min-height: 45px;
  max-width: 180px;
}
.product__price {
  display: block;
  color: #f3c18d;
  padding: 5px 0;
}
.product__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 30px;
  color: #fff;
  font-size: 12px;
  padding-top: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.product__info_blue {
  background: #37a49e;
}
.product__info_orange {
  background: #ff824a;
}
.product__sale {
  text-decoration: line-through;
  font-size: 10px;
  margin: 0 0 0 30%;
}
.product__in-basket {
  background: #f3c18d;
  color: #fff;
  font-size: 18px;
  padding: 15px;
  display: inline-block;
  vertical-align: middle;
}
.product__in-basket:hover {
  background: red;
}
.product__instant-buy {
  padding: 17px;
  background: #f3c18d;
  display: inline-block;
  vertical-align: middle;
}
.product__instant-buy:hover {
  background: red;
}
.product__icon {
  max-width: 15px;
  max-height: 15px;
  fill: #fff;
  margin-right: 5px;
}
.footer {
  background: #4a4a4a;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: "Roboto Thin";
  font-size: 14px;
  padding: 30px 0 0 0;
}
.nav-footer__header {
  font-size: 18px;
  border-bottom: 1px solid #fff;
}
.nav-footer__item {
  display: block;
  padding: 8px 0;
}
.nav-footer__item:hover {
  border-bottom: 1px solid #fff;
}
.pay__header {
  font-size: 18px;
  border-bottom: 1px solid #fff;
}
.pay__item {
  display: block;
  padding: 8px 0;
}
.pay__item:hover {
  border-bottom: 1px solid #fff;
}
.contacts-footer__header {
  font-size: 18px;
  border-bottom: 1px solid #fff;
}
.contacts-footer__item {
  display: block;
  padding: 8px 0;
}
.copyright {
  flex-basis: 100%;
  background: #000;
  text-align: center;
  padding: 15px 0;
}
